* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/*
----01 TYPOGRAPHY SYSTEM


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- FONT WEIGHTS
Default:400
-Line height
Default:1
-----02 colors
- primary:#e67e22
-tints:
-shades
-accents
-greys
#555

----05 SHADOWS

----06 BORDER-RADIUS
----07 WHITESPACE


-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/* STICKY NAVIGATION */
.sticky .header-primary {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO SECTION************** */
.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 9.2rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: aquamarine; */
  background-color: #fae5d3;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0rem 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-desc {
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  gap: 1.6px;
  align-items: center;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-txt {
  margin-left: 16px;
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-txt span {
  color: #cf711f;
  font-weight: 700;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.2rem;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HEADER SECTION **************/
.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  background-color: #fae5d3;
  /* because we want header to be sticky */
  height: 9.6rem;
  position: relative;
}

.logo-img {
  height: 2.2rem;
}

/* NAVICATION *********/
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link a:visited,
.main-nav-link a:link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link a:hover,
.main-nav-link a:active {
  color: #cf711f;
}

.main-nav-link.nav-cta a:visited,
.main-nav-link.nav-cta a:link {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: #fff;
}
.main-nav-link.nav-cta a:hover,
.main-nav-link.nav-cta a:active {
  background-color: #cf711f;
}

/* HOW IT WORKS SECTION */
/* .section-how {
  padding: 9.6px;
  background-color: orangered;
  height: 120rem;
}
.section-how div {
  padding: 100px;
  font-size: 50px;
} */

/* 
.section-how div:nth-child(1) {
  background-color: aqua;
}
.section-how div:nth-child(2) {
  background-color: greenyellow;
}
.section-how div:nth-child(3) {
  background-color: red;
}
.section-how div:nth-child(4) {
  background-color: yellow;
} */

.screen-img {
  width: 35%;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-how {
  margin-top: 9.6rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /* height: 100px; */
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -1;
}
.step-img-box::after {
  width: 45%;
  /* height: 100px; */
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.featured-logos {
  display: flex;
  justify-content: space-around;
}
.f-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.featured-txt {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #888;
}

.section-meal {
  padding: 9.6rem 3.2rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-img {
  width: 100%;
}
.meal-desc {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-list {
  font-size: 1.3rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-list {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
}
.diet-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.6rem;
}
.icon-tick {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:active,
.link:hover {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* CALL TO ACTION SECTION */

.section-cta {
  padding: 9.6rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  overflow: hidden;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-text {
  font-size: 1.8rem;
  color: #45260a;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.32),
      rgba(230, 125, 34, 0.32)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  display: block;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 243, 233, 0.5);
}

/* footer section */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.contacts p {
  margin-bottom: 2.4rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #777;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
.spline-container {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  overflow: hidden;
  /* Ensure overflow is hidden to contain the viewer */
}

/* Style the viewer itself (if applicable) */
.spline-viewer {
  width: 100%;
  height: 100%;
}
